
main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

img {
    max-width: 100%;
}

.sidePanelFeatured {
    /* width: 200px;
    height: 200px; */
    max-width: 50%;
}
