/* Home page elements */
main {
  min-height: 160vh;
}

.background {
  height: 20%;
}

.main-gradient-colour {
  background-image: linear-gradient(#180161, #030397, #0054dc);
  height: 50vh;
}

.home-box-gradient-colour {
  background-image: linear-gradient(#180161, #030397, #0054dc);
  height: 10vh;
  width: 100%;
  padding-bottom: 2rem;
}

.home-row-1 {
  padding-top: 125px;
}

.home-row-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.home-row-3 {
  font-size: 22px;
  font-weight: bold;
  padding: 100px
}

.home-button-browse {
  background-color: #180068;
  font-size: 1.5rem;
}

/* Home page imagery */

.hero-column-home {
  padding-left: 0;
  padding-right: 0;
}
.home-logo {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 40%;
  margin-right: 50%;
  text-align: center;
  width: 17.5%;
  height: auto;
  z-index: 99;
  position: absolute;
}

.home-car {
  z-index: 1; 
  width: 100%;
  position: relative;
}

.responsive {
  width: 100%;
  height: auto;
}

.column1-home, .column2-home,
.column3-home, .column4-home,
.column5-home, .column6-home,
.column7-home, .column8-home {
  padding-left: 0;
  padding-right: 0;
}

.home-button {
padding: 100px
}

/* footer */
.footer-top {
    background: #180161;
    background: linear-gradient(to right, #030397);
    background: linear-gradient(#030397, #0054dc);
  }

.footer-bottom {
  background-color: #180068;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #180161;

  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #030397);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(#030397, #0054dc);
}

/* Gradient */
.bg--blue-gradient {
  background: linear-gradient( 135deg, rgba(0, 97, 215, 1) 0%, rgba(0, 200, 255, 1) 100% );
}

/* Background Colour Classes */
.bg-green-light {
  background-color: #f0fff4;
}

.bg-red-light {
  background-color: #fff5f5;
}

/* Border Colour Classes */
.border-red-heavy {
  border: 1px solid #c53030
}

.border-green-heavy {
  border: 1px solid #38a169;
}

/* Text Colour Classes */
.text-green-heavy {
  color: #2f855a;
}

.text-red-heavy {
  color: #c53030;
}

.h-1 {
  height: 0.25rem;
}

/* Bootstrap */
.card {
  border: 1px solid rgba(0,0,0,0.1);
}


/* Navbar */
.app-login,
.app-register {
    background-color: #f7fafc;
}

.nav-colour {
  /* background-color: #E78F00 */
  background-color: #c53030
}

.navbar.brand {
  width: 5%;
  height: auto;
}

.nav-link {
  color: #c53030;
}

/* Typography */
h3 {
    padding: 1rem 0;
}

.sell-car-icon {
padding-bottom: 35px;
}

.sell-car-text1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  text-align: left;
  font-weight: bold;
}

.sell-car-text2 {
  text-transform: uppercase;
  color: rgb(255, 255, 0);
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

.sell-car-text3 {
  text-transform: uppercase;
  /* color: rgb(47, 42, 42); */
  color: #c53030;
  font-size: 33px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  /* text-shadow:1px 0 0 #fff,0 1px 0 #fff,-1px 0 0 #fff,0 -1px 0 #fff; */
  text-align: left;
  font-weight: bold;
}


.selling-blue {
  color: #2dd2db;
  font-weight: bold;
}

.lastestnews-text1 {
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
}

.lastestnews-text2 {
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
}

.lastestnews-text3 {
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
}

.lastestnews-text4 {
  text-transform: uppercase;
  font-size: 12px;
  font-style: italic;
  text-align: left;
}

.news-red {
  color: #db2d2e;
  font-weight: bold;
}

.news-para {
  font-weight: bold;
}

/* Rating */
.rating span {
    margin: 0.1rem;
}

/* Imagery */
img {
    max-width: 100%;
}

/* Side panel design */
.sidePanelFeatured {
    /* width: 200px;
    height: 200px; */
    max-width: 50%;
}

/* Slider */
.slider-wrapper {
  width: 760px;
  margin: auto;
}

.slick-slide {
  text-align: center;
  position: relative;
}

.slick-slide:focus {
  outline: none;
}

.slick-slide-title {
  text-transform: capitalize;
}

.slick-slide-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
    0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.slick-slide-label {
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0px;
  font-size: 1.5em;
  bottom: 0px;
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #ff0000;
}

.slick-prev {
  left: -25px !important;
}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 20px;
}

.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}

.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}

.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 70%;
}

/* Wireframing setup element */
.bg-grey {
  background: lightgrey;
}

.car-spec {
  height: 480px;
}

.accordion-button {
  font-size: 22px;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
color: #c53030;
background-color: #ffd2d2;
}

.car-info {
  font-weight: bold;
}

.form-control {
  height: 48px;
}
.form-handle-xxs {
  width: 200px;
}

/* Search elements */
.search-wrapper {
  position: absolute;
  top: 450px;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 80px !important;
}

.search-filter {
  height: 50px !important;
}

/* .search-input {
position: relative;
} */

/* .search-input i {
color: rgb(196, 13, 13);
position: absolute;
top: 3px;
right: 25px;
font-size: 2rem;
} */

/* .search-input > .form-control, .search-filter > .form-control {
  height: 50px;
  color: #fff;
  background: rgba(255,255, 255, 0);
} */

/* .search-submit {
  height: 30px !important;
} */

/* .search-input > .form-control:focus,
.search-filter > .form-control:focus {
  color: #fff;
  background: rgba(255, 255, 255, 0);
} */

/* Separator elements */
/* .home-row-3 { margin-bottom: 60px; text-align: center; } */
.home-row-3 .separator { position: relative; margin-top: 10px; display: inline-block; }
.home-row-3 span { margin-bottom: 10px; display: block; }
.home-row-3 .separator:after { width: 100px; display: block; margin: auto; content: ""; height: 1px; background: #db2d2e; bottom: 0px; left: 50%; transition: width .8s ease, background-color .8s ease; -webkit-transition: width .8s ease, background-color .8s ease; -o-transition: width .8s ease, background-color .8s ease; -ms-transition: width .8s ease, background-color .8s ease; -moz-transition: width .8s ease, background-color .8s ease; }
.home-row-3 .separator:before { content: ''; display: block; margin: auto; left: 50%; height: 1px; width: 50px; bottom: -15px; background: #db2d2e; transition: width .8s ease, background-color .8s ease; -webkit-transition: width .8s ease, background-color .8s ease; -o-transition: width .8s ease, background-color .8s ease; -ms-transition: width .8s ease, background-color .8s ease; -moz-transition: width .8s ease, background-color .8s ease; margin-bottom: 6px; }
:hover .home-row-3 .separator:before { width: 100px; left: 0; }
:hover:hover .home-row-3 .separator:after { width: 50px; left: 0; }

.image-home-solid-1 {
background-color:#c53030
}

.sellicon {
  color: #fff;
  float: left; 
  padding-bottom: 10px;
}

.enter-reg {
  color: rgb(147, 5, 5);
  padding-bottom: 10px;
  width: 478px;
}

.enter-reg-button {
  background-color: transparent;
  color: #fff;
  text-align: center;
  width: 480px;
}

.button-container-reg {
  text-align: left;
  padding-top: 10px;
}

/* Car detail elements */
.carousel-image-cardetails {
  height: 100%;
  width: 100%;
}

.second-image-cardetails {
  height: 100%;
  width: 100%;
}

.third-image-cardetails {
  height: 100%;
  width: 100%;
}

/* .d-block {
  height: 100%;
  width: 100%;
} */

.contact-seller-insert {
  margin-left: 0px;
}

/* Login Styles */
.the-login-wrapper {
  width: 100%;
  align-items: center;
  background-image: url("./assets/img/fullwidth/lambo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(245, 107, 107, 0.42);
}

.register-logo {
  text-align: center;
  width: 25%;
  height: auto;
}

.the-register-wrapper {
  width: 100%;
  align-items: center;
  background-image: url("./assets/img/fullwidth/lambo_rain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(245, 107, 107, 0.42);
}

.image-home-car-1:hover {
  transform:scale(1.05);
  transition-duration: 0.5s;
}

